* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 0px;
    height: 600px;
    width: 100%;
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr;
    grid-template-rows: 80px 1fr 1fr 1fr 1fr 60px;
    grid-gap: 16px;
}

header {
    grid-row: 1 / 2;
    grid-column: 1 / 5;
    background-color:aqua
}

main {
    grid-row: 2 / 6;
    grid-column: 2 / 4;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    text-align: center;
}

div.triviaGame {
    grid-row: 1 / 1;
    grid-column: 1 / 1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;

    text-align: center;
}

#leftSide {
    grid-row: 2 / 6;
    grid-column: 1 / 2;
    background-color: chartreuse;
}

#triviaQuestion {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    background-color:wheat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rightSide {
    grid-row: 2 / 6;
    grid-column: 4 / 5;
    background-color:chartreuse;
}

#optionA {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background-color: chocolate;
    display: flex;
    justify-content: center;
    align-items: center;
}

#optionB {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
}

#optionC {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    background-color: darkgoldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
}

#optionD {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    background-color: darksalmon;
    display: flex;
    justify-content: center;
    align-items: center;
}

#message {
    grid-row: 4 / 5;
    grid-column: 1 / 3;
    background-color: indigo;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    grid-row: 6 / 7;
    grid-column: 1 / 5;
    background-color: aqua;
}

main div p {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

p.selected {
    background-color: yellow;
}

p.correct {
    background-color: rgb(5, 161, 39);
}

p.incorrect {
    background-color: red;
}

p.answer {
    box-shadow: inset 0px 0px 0px 10px rgb(5, 161, 39);

}

div.hidden {
    display: none;
}

div.reveal {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

